In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [22]:
ev_population = pd.read_csv("Resources/NY_EV_Registrations.csv")

ev_population

/var/folders/d7/k70505jx6d35hf1_07h4cg2r0000gn/T/ipykernel_6724/2768231268.py:1: DtypeWarning: Columns (1,7) have mixed types. Specify dtype option on import or set low_memory=False.
  ev_population = pd.read_csv("Resources/NY_EV_Registrations.csv")

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,NY,10594,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,23,DMV Snapshot (2/2/2019),False
1,NY,13219,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,23,DMV Snapshot (2/2/2019),False
2,NY,11581,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,23,DMV Snapshot (2/2/2019),False
3,NY,10964,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,23,DMV Snapshot (2/2/2019),False
4,NY,14605,12/1/2018,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,23,DMV Snapshot (2/2/2019),False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5073887,NY,11743,11/1/2020,TESLA,MODEL Y,2021,BEV,1,Light-Duty (Class 1-2A),5,65,DMV Snapshot (8/1/2022),False
5073888,NY,11937,3/1/2021,TESLA,MODEL Y,2021,BEV,1,Light-Duty (Class 1-2A),5,69,DMV Snapshot (12/2/2022),False
5073889,NY,11364,5/1/2021,TESLA,MODEL Y,2021,BEV,1,Light-Duty (Class 1-2A),5,54,DMV Snapshot (9/2/2021),False
5073890,NY,10025,6/1/2021,TESLA,MODEL Y,2021,BEV,1,Light-Duty (Class 1-2A),5,55,DMV Snapshot (10/1/2021),False
5073891,NY,11373,5/1/2023,TESLA,MODEL Y,2021,BEV,1,Light-Duty (Class 1-2A),5,75,DMV Snapshot (6/2/2023),False

In [23]:
clean_df = ev_population.drop(columns = ['Drivetrain Type','Vehicle GVWR Class','Vehicle Category','Vehicle Count', 'DMV Snapshot ID','DMV Snapshot (Date)','Latest DMV Snapshot Flag'])
display(clean_df.head())
display(clean_df.tail())

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year
0,NY,10594,12/1/2018,TESLA,MODEL 3,2018
1,NY,13219,12/1/2018,TESLA,MODEL 3,2018
2,NY,11581,12/1/2018,TESLA,MODEL 3,2018
3,NY,10964,12/1/2018,TESLA,MODEL 3,2018
4,NY,14605,12/1/2018,TESLA,MODEL 3,2018

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year
5073887,NY,11743,11/1/2020,TESLA,MODEL Y,2021
5073888,NY,11937,3/1/2021,TESLA,MODEL Y,2021
5073889,NY,11364,5/1/2021,TESLA,MODEL Y,2021
5073890,NY,10025,6/1/2021,TESLA,MODEL Y,2021
5073891,NY,11373,5/1/2023,TESLA,MODEL Y,2021

In [24]:
clean_df = ev_population.drop(columns = ['Drivetrain Type','Vehicle GVWR Class','Vehicle Category','Vehicle Count', 'DMV Snapshot ID','DMV Snapshot (Date)','Latest DMV Snapshot Flag'])
display(clean_df.head())
display(clean_df.tail())

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year
0,NY,10594,12/1/2018,TESLA,MODEL 3,2018
1,NY,13219,12/1/2018,TESLA,MODEL 3,2018
2,NY,11581,12/1/2018,TESLA,MODEL 3,2018
3,NY,10964,12/1/2018,TESLA,MODEL 3,2018
4,NY,14605,12/1/2018,TESLA,MODEL 3,2018

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year
5073887,NY,11743,11/1/2020,TESLA,MODEL Y,2021
5073888,NY,11937,3/1/2021,TESLA,MODEL Y,2021
5073889,NY,11364,5/1/2021,TESLA,MODEL Y,2021
5073890,NY,10025,6/1/2021,TESLA,MODEL Y,2021
5073891,NY,11373,5/1/2023,TESLA,MODEL Y,2021